# @SQL_Python.ipynb

#@version 1.01 May, 2023

In [ ]:
# if the module is not installed yet, we pip install it
# pip install mysql-connector-python

import mysql.connector
import numpy as np
import pandas as pd

In [ ]:
# Read the authentication file
auth = np.loadtxt('authentication.txt', dtype = str)
auth

In [ ]:
# Config dictionary
labels = ['username', 'password', 'host', 'database']
config = dict(zip(labels, list(auth)))
config

## Drop all tables so we cancreate them again and insert  data

### Drop Table Grade

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Drop query
query = ("DROP TABLE IF EXISTS Grade;")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

### Drop Table Class

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Drop query
query = ("DROP TABLE IF EXISTS Class;")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

### Drop Table Course

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Drop query
query = ("DROP TABLE IF EXISTS Course")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

### Drop Table Student

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Drop query
query = ("DROP TABLE IF EXISTS  Student")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

# Create Table Student

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Create Table query
query = ("CREATE TABLE Student (\
  EMPLID INT NOT NULL,\
  FirstName VARCHAR(20) NOT NULL,\
  LastName VARCHAR(20) NOT NULL,\
  Email VARCHAR(40) NOT NULL,\
  PRIMARY KEY (EMPLID));")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

### Populating a table Student from CSV file

In [ ]:
# Reading the CSV into a pandas dataframe
students = pd.read_csv('student.csv')
students.columns = ['EMPLID', 'First Name','Last Name', 'Email']
students.head()
print(students)

### Inserting into Table Students

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

# Inserting the values
for i in range(len(students)):
    emplid = students.iloc[i]['EMPLID']
    firstname = students.iloc[i]['First Name']
    lastname = students.iloc[i]['Last Name']
    email = students.iloc[i]['Email']
    query = "INSERT INTO Student VALUES ({emplid}, '{firstname}','{lastname}','{email}')".\
        format( emplid= emplid, firstname = firstname,lastname=lastname,email=email)
    print ("Executing: ", query)
    cursor.execute(query)

# Committing the changes    
cursor.execute('commit')

# Closing the connectionExecuting:  INSERT VALUES 
cursor.close()
conn.close()

# Create Table Course

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Create Table query
query = ("CREATE TABLE Course (\
  CourseID INT NOT NULL,\
  Department VARCHAR(45) NOT NULL,\
  CourseName VARCHAR(45) NOT NULL,\
  PRIMARY KEY (CourseID, Department));")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

### Populating a table Course from CSV file

In [ ]:
# Reading the CSV into a pandas dataframe
courses = pd.read_csv('course.csv')
courses.columns = ['Course ID', 'Department','Course Name']
# 
print(courses )

### Inserting into table Course

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

# Inserting the values
for i in range(len(courses)):
    courseId = courses.iloc[i]['Course ID']
    department = courses.iloc[i]['Department']
    courseName = courses.iloc[i]['Course Name']
    query = "INSERT INTO Course VALUES ({courseId}, '{department}','{courseName}')".\
        format( courseId= courseId, department = department,courseName=courseName)
    print ("Executing: ", query)
    cursor.execute(query)

# Committing the changes    
cursor.execute('commit')



cursor.close()
conn.close()

#### Create index in Coursename

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Create index query
query = ("CREATE INDEX idx_CourseName ON Course (CourseName);")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

# Create Table Class

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Create Table query
query = ("CREATE TABLE Class (\
  CourseName VARCHAR(60) NOT NULL,\
  SessionNumber INT NOT NULL,\
  InstructorName VARCHAR(45) NOT NULL,\
  PRIMARY KEY (CourseName, SessionNumber),\
  FOREIGN KEY (CourseName) REFERENCES Course (CourseName));")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

### Populating a table Class from CSV file

In [ ]:
# Reading the CSV into a pandas dataframe
classes = pd.read_csv('class.csv')
classes.columns = ['Course Name', 'Session','Instructor Name']

print(classes )

### Inserting into table Class

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

# Inserting the values
for i in range(len(classes)):
    courseName = classes.iloc[i]['Course Name']
    session = classes.iloc[i]['Session']
    instructorName = classes.iloc[i]['Instructor Name']
    query = "INSERT INTO Class VALUES ('{courseName}', {session},'{instructorName}')".\
        format( courseName= courseName, session = session,instructorName=instructorName)
    print ("Executing: ", query)
    cursor.execute(query)

# Committing the changes    
cursor.execute('commit')



cursor.close()
conn.close()

#### Create index in Coursename

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Create index query
query = ("CREATE INDEX idx_Session ON Class (  SessionNumber );")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

## Create Table Grade

In [ ]:
# Connection
conn = mysql.connector.connect(**config)
# Cursor
cursor = conn.cursor()
# Create Table query
query = ("CREATE TABLE Grade (\
  CourseName VARCHAR(45) NOT NULL,\
  EMPLID INT NOT NULL,\
  SessionNumber INT NOT NULL,\
  Grade VARCHAR(1) NOT NULL,\
  PRIMARY KEY (CourseName, SessionNumber,EMPLID ),\
  FOREIGN KEY (CourseName) REFERENCES Course (CourseName),\
  FOREIGN KEY (EMPLID ) REFERENCES Student (EMPLID ),\
  FOREIGN KEY (SessionNumber) REFERENCES Class (SessionNumber));")
# Run the query
cursor.execute(query)
#Commit
cursor.execute('commit')
# Close the cursor
cursor.close()
# Close the connection
conn.close()

## Populating a table Grade from CSV file

In [ ]:
# Reading the CSV into a pandas dataframe
grades = pd.read_csv('grade.csv')
grades.columns = ['EMPLID', 'Course Name','Session','Grade']

print(grades )

## Inserting into table Grade

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

# Inserting the values
for i in range(len(grades)):
    emplid = grades.iloc[i]['EMPLID']
    courseName = grades.iloc[i]['Course Name']
    session=grades.iloc[i]['Session']
    grade = grades.iloc[i]['Grade']
    query = "INSERT INTO Grade VALUES ( '{courseName}',{emplid},{session},'{grade}')".\
        format(courseName = courseName,emplid= emplid,session=session, grade=grade)
    print ("Executing: ", query)
    cursor.execute(query)

# Committing the changes    
cursor.execute('commit')



cursor.close()
conn.close()

### Selecting from Table Student

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
query = "Select * from Student"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)

    
    
cursor.close()
conn.close()

## Updating table- changing email of student with the name Isabella

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
query = "Select * from Student where FirstName='Isabella'"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)
#Update table query   
query = "Update Student Set Email='iyoung@ccny.cuny.edu' where EMPLID=90832647"
print ("Executing: ", query)
cursor.execute(query)
# Committing the changes    
cursor.execute('commit')   
    
#Select Query    
query = "Select * from Student where FirstName='Isabella'"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)
    
    
    
cursor.close()
conn.close()

## Show Students who have at least one A

In [ ]:
# Connecting
#Show Student and the grade
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
query = "SELECT s.FirstName, s.LastName, g.Grade FROM Student s JOIN Grade g ON s.EMPLID = g.EMPLID \
WHERE g.Grade = 'A'"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
print("Best Students Are:")
print("{:<15}".format('First Name'), "{:<15}".format('Last Name'), "{:<10}".format('Grade'))
for row in results:
    print("{:<15}".format(row[0]),"{:<15}".format(row[1]),"{:<15}".format(row[2]))

    
    
cursor.close()
conn.close()

## Order Professors based on whose student has teken most number of A

In [ ]:
#Professor's whose student has teken most number of A


# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
query = "SELECT c.InstructorName, COUNT(*) AS A_Grades FROM Class c JOIN Grade g ON g.CourseName = c.CourseName \
JOIN Student s ON g.EMPLID = s.EMPLID WHERE g.Grade = 'A' GROUP BY c.InstructorName ORDER BY A_Grades DESC"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
print("Most Succesful Professors  Are:")
print("{:<25}".format('Professor\'s Name'), "{:<25}".format('No. of Students with A'), )
for row in results:
    print("{:<25}".format(row[0]),"{:<25}".format(row[1]))

    
    
cursor.close()
conn.close()

## For each student show the number of A or B or C and so on taken

In [ ]:
#For each student show the number of A or B or C and so on taken

grades=['A','B','C','D','F']
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
for i in grades:
    query = "SELECT s.FirstName, s.LastName, COUNT(*) AS A_Grades FROM Student s \
    JOIN Grade g ON g.EMPLID = s.EMPLID WHERE g.Grade = '{i}' GROUP BY s.FirstName, s.Lastname ORDER BY A_Grades DESC".\
        format(i=i)
    print ("Executing: ", query)
    cursor.execute(query)
# Fetching and printing the results
    results = cursor.fetchall()
    print("Most Succesful Professors  Are:")
    print("{:<25}".format('Students\'s Fisrt Name'), "{:<25}".format('Student\'s Last Name'), 'No. of ', i, 'taken' )
    for row in results:
        print("{:<25}".format(row[0]),"{:<25}".format(row[1]), "{:<25}".format(row[2]))

    
    
cursor.close()
conn.close()

## Show all the grades for student with the last name Smith

In [ ]:
# Connecting
#Show Student and the grade
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
query = "SELECT s.FirstName, s.LastName, g.Grade FROM Student s JOIN Grade g ON s.EMPLID = g.EMPLID \
WHERE s.LastName = 'Smith'"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
print("Best Students Are:")
print("{:<15}".format('First Name'), "{:<15}".format('Last Name'), "{:<10}".format('Grade'))
for row in results:
    print("{:<15}".format(row[0]),"{:<15}".format(row[1]),"{:<15}".format(row[2]))

    
    
cursor.close()
conn.close()

### Delete a  grade from the table

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
query = "Select * from Grade where EMPLID=50981763 and CourseName='Intro to Computer Science' "


print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)
#Delete table query   
query = "Delete from  Grade where EMPLID=50981763 and CourseName='Intro to Computer Science'"
print ("Executing: ", query)
cursor.execute(query)
# Committing the changes    
cursor.execute('commit')   
    
#Select Query    
query = "Select * from Grade where EMPLID=50981763 and CourseName='Intro to Computer Science'"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)
    
    
    
cursor.close()
conn.close()

### Altering table Student : Changing LastName to Last_Name

In [ ]:
# Connecting
conn = mysql.connector.connect(**config)
cursor = conn.cursor()


#Alter table query   
query = "ALTER TABLE Student RENAME COLUMN LastName TO Last_Name;'"
print ("Executing: ", query)
cursor.execute(query,multi=True)
# Committing the changes    
cursor.execute('commit')   
    
#Select Query    
query = "Select Last_Name from Student"
print ("Executing: ", query)
cursor.execute(query)
# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)
    
    
    
cursor.close()
conn.close()